<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /www_data/TESEM/app/webroot/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
